<!DOCTYPE html>
{% load static %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="css/details.css">
    <link rel="stylesheet" href="{% static '/css/details.css' %}">

     
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
{% load static %} 

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <label  id="mm"><center><strong><b>Message:</strong>{{ message }}</b></center></label>
    
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <div class="container">
        <header>iDonate Registration</header>

        <form action="/detail"  method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
            <div class="form first">
                <div class="details personal">
                

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" id="fullname" name="fullname" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" id="dob" name="dob" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" id="email" name="email" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" id="mobno" name="mobno" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select id="ge" name="ge" required>
                                <option  disabled selected>Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>


                        </div>

                        <div class="input-field">
                            <label>Age</label>
                            <input type="number" id="age" name="age" placeholder="Enter Your Age" required>
                        </div>

                        <div class="input-field">
                            <label>Blood Group</label>
                            <select id="bg" name="bg" required>
                                <option  disabled selected>Your Blood Group</option>
                                <option>A+</option>
                                <option>B+</option>
                                <option>AB+</option>
                                <option>O+</option>
                                <option>A-</option>
                                <option>B-</option>
                                <option>AB-</option>
                                <option>O-</option>
                            </select>


                        </div>

                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" id="address" name="address" placeholder="Enter your Address" required>
                        </div>
                        
                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text" id="occupation" name="occupation" placeholder="Enter your Occupation" required>
                        </div>
                        
            
                        <div class="input-field">
                            <label>Enter Your Weight</label>
                            <input type="number" id="weight" name="weight" placeholder="Enter your Weight" required>
                        </div>
                        <div class="input-field">
                            <label>Enter Your Height</label>
                            <input type="number" id="height" name="height" placeholder="Enter your Height" required>
                        </div>

                        <div class="input-field">
                            <label>Allergic/Not ?</label>
                            <select id="an" name="an" required>
                                <option  disabled selected>Allergic/Not ?</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>


                        </div>

                        <div class="input-field">
                            <label>Taking Medicine Regularly ?</label>
                            <select id="tmr" name="tmr" required>
                                <option  disabled selected>Taking Medicine Regularly</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>


                        </div>

                        <div class="input-field">
                            <label>Lastly Donated Date</label>
                            <input type="date" id="ldd" name="ldd" placeholder="Enter the date" >
                        </div>


                        <div class="input-field">
                            <label>Donated Blood/Organ</label>
                            <select id="dbo" name="dbo" >
                                <option  disabled selected>Donated Blood/Organ</option>
                                <option>Blood</option>
                                <option>Kidney</option>
                                <option>Liver</option>
                                <option>Lungs</option>
                                <option>Heart</option>
                                <option>Pancreas</option>
                                <option>Intestine</option>
                                <option>Eye</option>
                            </select>


                        </div>

<!--
                <div class="details ID">
                    <span class="title">Identity Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>ID Type</label>
                            <select id="idtype" name="idtype" required>
                                <option  disabled selected>Select ID Type</option>
                                <option>Aadhar</option>
                                <option>Other</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>ID Number</label>
                            <input type="number" id="idno"  name="idno" placeholder="Enter ID number" required>
                        </div>

                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text"  id="job" name="job" placeholder="Enter your occupation" required>
                        </div>
                        -->
                        
                        <div class="card-box">
                            <label>Image</label>
                            <input type="file" id="image" name="image" placeholder="Upload your Image" required>
                        </div>
                    
                        <button class="sumbit">
                            <span class="btnText">NEXT</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                </div> 
            </div>
        </div>
    </div> 
</div>
</form>
</div>
</body>
</html>