<!DOCTYPE html>
{% load static %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="css/details.css">
    <link rel="stylesheet" href="{% static '/css/details.css' %}">

     
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
{% load static %} 

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <label  id="mm"><center><strong><b>Message:</strong>{{ message }}</b></center></label>
    
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <div class="container">
        <header>iDonate  Registration</header>

        <form action="/odetail"  method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
            <div class="form first">
                <div class="details personal">
                    <span class="title">Organization Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" id="ofname" name="ofname" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" id="oemail" name="oemail" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Phone Number</label>
                            <input type="number" id="omobno" name="omobno" placeholder="Enter phone number" required>
                        </div>

                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" id="oaddress" name="oaddress" placeholder="Enter your Address" required>
                        </div>
                    
                        <div class="card-box">
                            <label>Upload Licence Approval Cerficate</label>
                            <input type="file" id="oimage" name="oimage" placeholder="Upload image" required>
                        </div>
                        <button class="sumbit">
                            <span class="btnText">SUBMIT</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                </div> 
            </div>
        </div>
    </div> 
</div>
</form>
</div>
</body>
</html>


    